<ion-header>

    <ion-toolbar>

    <ion-buttons slot="start">
        <ion-button  class="back-custom-btn" (click)="launchBackAction()" style="display:none">
            <ion-icon name="arrow-back"></ion-icon>		
          </ion-button >
        <ion-back-button></ion-back-button>
    </ion-buttons>

      <ion-title *ngIf="brassin">
        Brassin {{ brassin.lot }} - {{brassin.type_biere.nom}}
      </ion-title>

      <ion-buttons slot="end">
        <ion-button  (click)="prevOrNextPage('prev')">
          <ion-icon name="arrow-round-down"></ion-icon>	
        </ion-button >
        <ion-button  (click)="prevOrNextPage('next')">	
          <ion-icon name="arrow-round-up"></ion-icon>		
        </ion-button >
      </ion-buttons>

    </ion-toolbar>

  </ion-header>
  

  <ion-content>
  
    <div *ngIf="brassin">


      <ion-item text-end>
        <ion-label>Editer commentaire</ion-label>
        <ion-toggle (ionChange)="ionChangeToggleEditer($event)"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-spinner name="crescent" id="brassin_detail_spinner_commentaire" class="spinnerBrassinItem"></ion-spinner>
        <ion-label position="stacked">Commentaire</ion-label>
        <ion-textarea (ionChange)="ionChangeTextArea($event, 'commentaire')" color="tertiary" value="{{ brassin?.commentaire }}" rows="3" [readonly]="inputReadOnly"></ion-textarea>
      </ion-item>

      <br>

      <ion-list>

          <update-brassin-quantity [brassin]="brassin"></update-brassin-quantity>
    
      </ion-list>

      <ion-item>
        <ion-spinner name="crescent" id="brassin_detail_spinner_tropDeMousse" class="spinnerBrassinItem"></ion-spinner>
        <ion-label>Trop de mousse</ion-label>
        <ion-select value="{{ brassin.trop_de_mousse }}" okText="Ok" cancelText="Annuler" (ionChange)="ionChangeSelectTropDeMousse($event)">
          <ion-select-option value="0">0</ion-select-option>
          <ion-select-option value="1">1</ion-select-option>
          <ion-select-option value="2">2</ion-select-option>
          <ion-select-option value="3">3</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item style="text-align:center;">
        <ion-spinner name="crescent" id="brassin_detail_spinner_vendable" class="spinnerBrassinItem"></ion-spinner>
        <ion-label>Vendable</ion-label>
        <ion-toggle (ionChange)="ionChangeToggleVendable($event)" [checked]="vendable"></ion-toggle>
      </ion-item>
  
    </div>

  </ion-content>
  